// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  font-family: quicksand;
}
.title {
  font-family: poppins;
  color: black;
}

.questions {
  color: #333;
}
.answer {
  border: 1px #ccc;
  padding: 10px;
  color: #333;
  background-color: #ffffe1;
}
